{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Añadir Nueva Receta</h2>
    <form action="{{ url_for('add') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="recipe_name">Nombre de la Receta:</label>
            <input type="text" class="form-control" id="recipe_name" name="recipe-name" required>
        </div>
        <div class="form-group">
            <label for="category">Categoría:</label>
            <select class="form-control" id="category" name="category" required>
                <option value="" selected>Elige una categoría</option>
                {% for categoria in categories %}
                    <option value="{{ categoria['id'] }}">{{ categoria['nombre'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="recipeDescription" class="form-label">Descripción:</label>
            <textarea name="recipe-description" id="recipeDescription" class="form-control" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="prep_time">Tiempo de Preparación (minutos):</label>
            <input type="number" class="form-control" id="prep_time" name="prep-time" required>
        </div>
        <div class="form-group">
            <label for="difficulty">Nivel de Dificultad:</label>
            <select class="form-control" id="difficulty" name="difficulty" required>
                <option value="Easy">Fácil</option>
                <option value="Medium">Media</option>
                <option value="Hard">Difícil</option>
            </select>
        </div>
        <div class="form-group">
            <label for="additional_notes">Comentarios:</label>
            <textarea class="form-control" id="additional_notes" name="additional-notes" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="recipe_steps">Steps:</label>
            <textarea class="form-control" id="recipe_steps" name="recipe-steps" rows="5" placeholder="Write the steps for this recipe..." required></textarea>
        </div>        
        <div class="form-group">
            <label for="recipe_image">Imagen:</label>
            <input type="file" class="form-control" id="recipe_image" name="recipe-image" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary w-100">Añadir Receta</button>
    </form>
</div>
{% endblock %}
