
{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Agregar Nueva Receta</h2>
    <form method="post" enctype="multipart/form-data" class="shadow p-4 rounded" style="background: #f9f9f9;">
        <div class="mb-3">
            <label for="recipeName" class="form-label">Nombre de la Receta</label>
            <input type="text" name="name" id="recipeName" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            
<select name="category" class="form-control">
    <option value="" disabled selected>Selecciona una categoría</option>
    <option value="1">Breakfast</option>
    <option value="2">Lunch</option>
    <option value="3">Snacks</option>
    <option value="4">Vegan</option>
    <option value="5">Healthy</option>
    <option value="6">Seafood</option>
    <option value="7">Appetizers</option>
    <option value="8">Salads</option>
    <option value="9">BBQ</option>
    <option value="10">Soups</option>
</select>

        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea name="description" id="description" class="form-control" rows="5"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Imagen</label>
            <input type="file" name="image" id="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Agregar Receta</button>
    </form>
</div>
{% endblock %}
