{% extends "layout.html" %}

{% block title %}
    Categories List
{% endblock %}

{% block content %}
<!-- Categories List Section Begin -->
<section class="categories-list spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="categories-list__post">
                    <div class="categories-list__post__item">
                        <div class="categories-list__post__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/categories/categories-post/cp-1.jpg') }}">
                            <div class="post__meta">
                                <h4>08</h4>
                                <span>Aug</span>
                            </div>
                        </div>
                        <div class="categories-list__post__item__text">
                            <ul class="post__label">
                                <li><a href="#">Vegan</a></li>
                                <li><a href="#">Desserts</a></li>
                            </ul>
                            <h3><a href="#">The Absolute Best Way to Cook Steak Perfectly, According to Wayyy Too Many Tests</a></h3>
                            <ul class="post__widget">
                                <li>by <span>Admin</span></li>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                            <a href="#" class="primary-btn">Read More</a>
                        </div>
                    </div>
                    <!-- Repeat similar structure for other posts -->
                </div>
                <div class="pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="sidebar">
                    <div class="sidebar__item sidebar__item--categories">
                        <div class="sidebar__item__title">
                            <h6>Categories</h6>
                        </div>
                        <ul>
                            <li><a href="#">Recipes <span>128</span></a></li>
                            <li><a href="#">Dinner <span>32</span></a></li>
                            <li><a href="#">Dessert <span>86</span></a></li>
                            <li><a href="#">Smoothies <span>25</span></a></li>
                            <li><a href="#">Drinks <span>36</span></a></li>
                            <li><a href="#">Cakes <span>15</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <div class="sidebar__item__title">
                            <h6>Feature Posts</h6>
                        </div>
                        <div class="sidebar__feature__post">
                            <div class="sidebar__feature__post__item">
                                <div class="post__meta">
                                    <h4>08</h4>
                                    <span>Aug</span>
                                </div>
                                <div class="post__text">
                                    <span>Dinner</span>
                                    <h5><a href="#">The Best Weeknight Baked Potatoes</a></h5>
                                </div>
                            </div>
                            <!-- Add more feature posts -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories List Section End -->
{% endblock %}
