{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Categorías</h2>
    <div class="row">
        {% for categoria in categories %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="{{ url_for('view_category', category_id=categoria.id) }}">
                    <img src="{{ url_for('static', filename='uploads/' + (categoria.imagen or 'no-image-icon-6.png')) }}" class="card-img-top" alt="{{ categoria.nombre }}">

                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ categoria.nombre }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
