{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Categorías</h1>
    <ul class="list-group">
        {% for category, count in category_counts %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ url_for('category_view', category_id=category.id) }}" class="text-decoration-none">
                    {{ category.nombre }}
                </a>
                <span class="badge bg-primary rounded-pill">{{ count }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
