{% extends "layout.html" %}

{% block title %}
    Categories - Grid
{% endblock %}

{% block content %}
<!-- Categories Section Begin -->
<section class="categories categories-grid spad">
    <div class="container">
        <div class="categories__grid__post">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="breadcrumb__text">
                        <h2>Categories: <span>Recipes</span></h2>
                        <div class="breadcrumb__option">
                            <a href="{{ url_for('index') }}">Home</a>
                            <span>Recipes</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/categories/categories-post/cp-2.jpg') }}">
                                    <div class="post__meta">
                                        <h4>08</h4>
                                        <span>Aug</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">Recipe</span>
                                    <h3><a href="#">The Best Weeknight Baked Potatoes, 3 Creative Ways</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>Admin</span></li>
                                        <li>3 min read</li>
                                        <li>20 Comment</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua...</p>
                                </div>
                            </div>
                        </div>
                        <!-- Repeat similar blocks for other posts -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <!-- Sidebar Begin -->
                    <div class="sidebar__item">
                        <div class="sidebar__about__item">
                            <div class="sidebar__item__title">
                                <h6>About me</h6>
                            </div>
                            <img src="{{ url_for('static', filename='img/sidebar/sidebar-about.jpg') }}" alt="About">
                            <h6>Hi every one! I’m <span>Lena Mollein.</span></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="primary-btn">Read more</a>
                        </div>
                        <div class="sidebar__item__categories">
                            <div class="sidebar__item__title">
                                <h6>Categories</h6>
                            </div>
                            <ul>
                                <li><a href="#">Recipes <span>128</span></a></li>
                                <li><a href="#">Dinner <span>32</span></a></li>
                                <li><a href="#">Dessert <span>86</span></a></li>
                                <li><a href="#">Smoothie <span>25</span></a></li>
                                <li><a href="#">Drinks <span>36</span></a></li>
                                <li><a href="#">Cakes <span>15</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
{% endblock %}
