{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Explore Recipes</h2>
    {% if not session.get('user_id') %}
    <div class="text-center mb-4">
        <a href="{{ url_for('signin') }}" class="btn btn-primary">Sign In</a>
    </div>
    {% endif %}

    <div class="row">
        {% for receta in recetas %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{{ url_for('single_post', recipe_id=receta.id) }}">
                    {% if receta.imagenReceta %}
                        <img src="{{ url_for('static', filename=receta.imagenReceta) }}" class="card-img-top" alt="{{ receta.nombre }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/default_recipe.jpg') }}" class="card-img-top" alt="{{ receta.nombre }}">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <a href="{{ url_for('single_post', recipe_id=receta.id) }}">
                        <h5 class="card-title">{{ receta.nombre }}</h5>
                    </a>
                    <p class="card-text">Cooking Time: {{ receta.tiempoPreparacion }} minutes</p>
                    <p class="card-text">Difficulty: {{ receta.dificultad }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
