{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Explore Categories</h2>
    <!-- Mostrar botón de inicio de sesión si el usuario no está autenticado -->
    {% if not session.get('user_id') %}
    <div class="text-center mb-4">
        <a href="{{ url_for('signin') }}" class="btn btn-primary">Sign In</a>
    </div>
    {% endif %}

    <div class="row">
        <!-- Mostrar las categorías -->
        {% for category in categories %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{{ url_for('category_view', category_id=category.id) }}">
                    <img src="{{ url_for('static', filename='img/categories/' ~ category.nombre | lower ~ '.jpg') }}" class="card-img-top" alt="{{ category.nombre }}">
                </a>
                <div class="card-body text-center">
                    <a href="{{ url_for('category_view', category_id=category.id) }}">
                        <h5 class="card-title">{{ category.nombre }}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
