{% extends "layout.html" %}

{% block title %}
Typography - Recipy
{% endblock %}

{% block content %}
<!-- Typography Section Begin -->
<section class="typography spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="breadcrumb__text">
                    <h2>Typography</h2>
                    <div class="breadcrumb__option">
                        <a href="{{ url_for('index') }}">Home</a>
                        <span>Typography</span>
                    </div>
                </div>
                <div class="typography__top__text">
                    <p>In auctor viverra eros. Maecenas elit mi, dictum et consectetur nec, sollicitudin sed arcu...</p>
                    <h3>Heading tags</h3>
                    <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                </div>
                <div class="typography__desc">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename='img/typography.jpg') }}" alt="Typography Image" />
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="typography__desc__text">
                                <p>Vestibulum commodo nulla eu augue tincidunt rutrum...</p>
                                <h2>This is heading 1</h2>
                                <h3>This is heading 2</h3>
                                <h4>This is heading 3</h4>
                                <h5 class="large-h5">This is heading 4</h5>
                                <h6>This is heading 6</h6>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="typography__text__list typography__text__list--unorder">
                    <h3>Unordered List</h3>
                    <ul>
                        <li>Sed imperdiet sem at nunc luctus, sed cursus nulla mollis...</li>
                        <li>Orci varius natoque penatibus et magnis dis parturient montes...</li>
                        <li>Duis aute irure dolor in reprehenderit...</li>
                    </ul>
                </div>
                <div class="typography__text__list typography__text__list--order">
                    <h3>Ordered List</h3>
                    <ol>
                        <li>Combine all ingredients, kneading to form a smooth dough.</li>
                        <li>Allow the dough to rise for about 90 minutes.</li>
                        <li>Preheat the oven to 425°F.</li>
                        <li>Bake for 25-30 minutes until golden brown.</li>
                    </ol>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-4">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
</section>
<!-- Typography Section End -->
{% endblock %}
