{% extends "layout.html" %}
{% block title %}Categoría: {{ category_name }}{% endblock %}
{% block content %}
<div class="container">
    <h1>Recetas en la categoría: {{ category_name }}</h1>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ url_for('static', filename=recipe.imagenReceta) }}" alt="{{ recipe.nombre }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.nombre }}</h5>
                    <p class="card-text">{{ recipe.descripcion }}</p>
                    <a href="{{ url_for('single_post', recipe_id=recipe.id) }}" class="btn btn-primary">Ver receta</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
