{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Recetas en {{ category_name }}</h2>
    {% if recipes %}
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{{ url_for('single_post', recipe_id=recipe['id']) }}">

                    <img src="{{ url_for('static', filename='uploads/' + (recipe['imagenReceta'] if recipe['imagenReceta'] else 'no-image-icon-6.png')) }}" class="card-img-top" alt="{{ recipe['nombre'] }}">

                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ recipe['nombre'] }}</h5>
                    <p class="card-text">{{ recipe['descripcion'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No hay recetas disponibles en esta categoría.</p>
    {% endif %}
</div>
{% endblock %}
