{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Recetas en la Categoría: {{ category_name }}</h2>
    <div class="row">
        {% if recipes %}
        {% for recipe in recipes %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">
                    <img src="{{ url_for('static', filename=recipe.imagenReceta) }}" class="card-img-top" alt="{{ recipe.nombre }}">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ recipe.nombre }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No hay recetas disponibles en esta categoría.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
